<div class="row">
      <%= form_for (@link), :class => "form-horizontal" do |f| %> 
			        <fieldset>
			          <legend>Submit a Link</legend>
								<% @link.errors.full_messages.each do |msg| %>
									<p>
								      <strong><%= msg %></strong>
									</p>
								<% end %>
			          <div class="control-group">
									<%= f.label :title, :class => "control-label" %>
			            <div class="controls">
										<%= f.text_field :title, :class => "input-xlarge"  %>
			            </div>
			          </div>
								<div class="control-group">
									<%= f.label :url, :class => "control-label" %>
			            <div class="controls">
										<%= f.text_field :url, :class => "input-xlarge"  %>
			            </div>
			          </div>
			          <div class="form-actions">
									<%= f.submit "Add", :class => "btn btn-primary" %>
			          </div>
			        </fieldset>
			<% end %>	
</div>


